[Desktop Entry]
Encoding=UTF-8
Name=Länk till Drivers - Download NVIDIA Drivers
Type=Link
URL=http://www.nvidia.com/Download/index.aspx?lang=en-us
Icon=text-html
Name[sv]=Setup-Step-3-DownloadAndInstallNVIDIADrivers
